.header__logo {
    width: 142px;
    height: 33px;
    margin: 45px auto 37px 0;
}

@media screen and (max-width: 879px) {
    .header__logo {
        margin-left: 16px;
    }
}

@media screen and (max-width: 573px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
        margin: 28px auto 27px 27px;
    }
}