.popup__input {
    min-width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0;
    margin-bottom: 23px;
    font-size: 14px;
    line-height: 33.5px;
    font-weight: normal;
    background: transparent;
    color: #000;
    font-family: 'Inter', "Arial", sans-serif;
}

.popup__input::placeholder {
    color: #C4C4C4;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Inter', "Arial", sans-serif;
}

.popup__input::-webkit-input-placeholder {
    color: #C4C4C4;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Inter', "Arial", sans-serif;
}

.popup__input::-moz-input-placeholder {
    color: #C4C4C4;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Inter', "Arial", sans-serif;
}

.popup__input::-ms-input-placeholder {
    color: #C4C4C4;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Inter', "Arial", sans-serif;
}

@media screen and (max-width: 515px) {
    .popup__input {
        padding-bottom: 9px;
    }
}