@import url(./vendor/fonts/fonts.css);
@import url(./vendor/normalize.css);
@import url(./blocks/page/page.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__container/header__container.css);
@import url(./blocks/header/__container/_logged/header__container_logged.css);
@import url(./blocks/header/__logo-container/header__logo-container.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__auth/header__auth.css);
@import url(./blocks/header/__auth/_unlogged/header__auth_unlogged.css);
@import url(./blocks/header/__auth/_logged/header__auth_logged.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__link/_active/header__link_active.css);
@import url(./blocks/header/__logout/header__logout.css);
@import url(./blocks/header/__logout/_active/header__logout_active.css);
@import url(./blocks/header/__nav/header__nav.css);
@import url(./blocks/header/__nav/_active/header__nav_active.css);
@import url(./blocks/header/__burger-btn/header__burger-btn.css);
@import url(./blocks/header/__burger-btn/_invisible/header__burger-btn_invisible.css);

@import url(./blocks/auth/auth.css);
@import url(./blocks/auth/__form/auth__form.css);
@import url(./blocks/auth/__input/auth__input.css);
@import url(./blocks/auth/__login-link/auth__login-link.css);
@import url(./blocks/auth/__login-proposal/auth__login-proposal.css);
@import url(./blocks/auth/__login-proposal/_active/auth__login-proposal_active.css);
@import url(./blocks/auth/__submit-btn/auth__submit-btn.css);
@import url(./blocks/auth/__submit-btn/_disabled/auth__submit-btn_disabled.css);
@import url(./blocks/auth/__title/auth__title.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-overlay/profile__avatar-overlay.css);
@import url(./blocks/profile/__avatar-edit/profile__avatar-edit.css);
@import url(./blocks/profile/__item/profile__item.css);
@import url(./blocks/profile/__name-box/profile__name-box.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__about-me/profile__about-me.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__plus-button/profile__plus-button.css);

@import url(./blocks/main/main.css);
@import url(./blocks/elements/__list/elements__list.css);
@import url(./blocks/elements/__card/elements__card.css);
@import url(./blocks/elements/__photo/elements__photo.css);
@import url(./blocks/elements/__info/elements__info.css);
@import url(./blocks/elements/__title/elements__title.css);
@import url(./blocks/elements/__like-are/elements__like-area.css);
@import url(./blocks/elements/__like-button/elements__like-button.css);
@import url(./blocks/elements/__like-button/_active/elements__like-button_active.css);
@import url(./blocks/elements/__like-counter/elements__like-counter.css);
@import url(./blocks/elements/__delete-button/elements__delete-button.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__heading/popup__heading.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__save-button/popup__save-button.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);

@import url(./blocks/popup/_type/_image/popup_type_image.css);
@import url(./blocks/popup/__container-image/popup__container-image.css);
@import url(./blocks/popup/__big-image/popup__big-image.css);
@import url(./blocks/popup/__image-title/popup__image-title.css);

@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__error/_visible/popup__error_visible.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__save-button/_disabled/popup__save-button_disabled.css);

@import url(./blocks/popup/__save-button/_type/popup__save-button_type_dlt-confirm.css);
@import url(./blocks/popup/__heading/_type/popup__heading_type_dlt-confirm.css);

@import url(./blocks/tooltip/tooltip.css);
@import url(./blocks/tooltip/_opened/tooltip_opened.css);
@import url(./blocks/tooltip/_type/tooltip_type_confirm.css);
@import url(./blocks/tooltip/_type/tooltip_type_reject.css);
@import url(./blocks/tooltip/__container/tooltip__container.css);
@import url(./blocks/tooltip/__close-btn/tooltip__close-btn.css);
@import url(./blocks/tooltip/__image/tooltip__image.css);
@import url(./blocks/tooltip/__message/tooltip__message.css);
@import url(./blocks/tooltip/__message/_type/tooltip__message_type_confirm.css);
@import url(./blocks/tooltip/__message/_type/tooltip__message_type_reject.css);